.parent{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.child1{
  border: 1px solid rgb(212, 212, 212);
  padding: 5px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.child2{
  border: 1px solid rgb(212, 212, 212);
  padding: 5px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.TopBar{
  background-color: rgb(218, 218, 218);
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopSelect select{
   width: 6vw;
   margin-left: .5vw;
}